@font-face {
  font-family: OronBlck;
  src: url([[font:theme_classic_hashmal|oronblck.woff]]);
}

$text-color: #595959 !default;
$gray1: #999 !default;
$light-gray1: #ccc !default;
$light-gray2: #f5f5f5 !default;
$dark-blue1: #0070a8 !default;
$dark-blue2: #003d5c !default;

$md: 768px !default;
$lg: 1050px !default;