.blockcolumn{

  .mb-3{
  }

  .card-body{
    padding: 0rem!important;
    border: none;
    background-color: $light-gray2;
  }

  .card-title{
    display: block !important;
    color: $gray1;
    padding: 1rem;
    margin-bottom: 0rem;
  }

  .card-text{
    padding: 0rem 1rem 1rem;
    margin-top: 0 !important;

    h3{
      font-size: 1.13rem;
    }
  }

  //for form inside system administration block
  .form-inline .form-group{
    margin-bottom: 0;
  }
}