/*------- General --------*/
body{
  color: $text-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.13rem;
}

#page{
  margin-top: 0;
  /*rtl:ignore*/
  padding: 0 1.5rem 0;
}

a,
#page-footer a{
  color: $dark-blue1;
  text-decoration: underline;
  &:hover{
    color: $dark-blue2;
  }
}

