<div class="statistics">
    <h3 class="card-title statistics-title">{{{statisticstitle}}}</h3>
    <dl class="statisticslist card-group">
        <div class="course-num col-lg-4 col-md-4">
            <dt class="statisticsterm">{{{statisticscourses}}}</dt>
            <dd class="statisticsdefinition">{{{coursecount}}}</dd>
        </div>
        <div class="teacher-num col-lg-4 col-md-4">
            <dt class="statisticsterm">{{{statisticsteachers}}}</dt>
            <dd class="statisticsdefinition">{{{teachercount}}}</dd>
        </div>
        <div class="student-num col-lg-4 col-md-4">
            <dt class="statisticsterm">{{{statisticsstudents}}}</dt>
            <dd class="statisticsdefinition">{{{studentcount}}}</dd>
        </div>
    </dl>
    <div>{{#str}}thecountgoeson, theme_campus{{/str}}&hellip;</div>
    {{^isloggedin}}
        <a href="{{{ config.wwwroot }}}/login" class="btn btn-secondary">{{#str}}startlearning, theme_campus{{/str}}!</a>
    {{/isloggedin}}
</div>
