footer{
  border-top: 10px solid $red-orange;
  text-align: center;

  .background-only{
    background-image: url([[pix:theme|footer]]);
    width: 100%;
    height: 4rem;
  }

  .container{
    padding: 0.5rem 1rem;
  }
}

.#{$bigbrain-id}{
  footer {
    border-top-color: $light-blue;
  }
}