@font-face {
  font-family: FbmodularyBold;
  src: url([[font:theme_classic_brain|fbmodulary-bold.woff]]);
}

$dark-gray: #595959 !default;
$light-gray1: #999 !default;
$light-gray: #fbfbfb !default;
$orange: #ef6e30 !default;
$red-orange: #ee5a13 !default;
$mandys-pink: #f5ba9e !default;
$dark-blue: #3b53ad !default;
$light-blue: #0093b3;

$text-color: $dark-gray;


$md: 768px !default;

$bigbrain-id: course-144;