<footer id="page-footer" class="bg-inverse">
    <div class="footer-text-wrapper">
        <span class="copyright">{{#str}}
            copyrighttext, theme_bediukcity{{/str}}{{{output.current_year}}}{{#str}}
            credittext, theme_bediukcity{{/str}}</span>
        <a class="site-rules" href="https://www.ort.org.il/right/rights/"> {{#str}}
            site_rules, theme_bediukcity{{/str}}  </a>
    </div>

    {{{ output.standard_end_of_body_html }}}

</footer>