.block_category_list,
.pagelayout-coursecategory .course_category_tree /*.category-browse Lea 2018 - removed because this class isn't always present. Only when there aren't any courses in the category*/
{
  background-color: $category-list-background;
  padding-bottom: 3rem;

  ul.card-group {

    li {
      font-weight: 600;
      text-align: center;
      width: 45%;
      flex: 0 0 47%;
      padding: 0 0 1.2rem 0;
      margin: 0 1% 4rem;
      background-color: $white;
      border-radius: 0 0 0.7rem 0.7rem;

      @include breakpoint(laptop) {
        width: 30%;
        flex: 0 0 30%;
        margin: 0 1.6% 4rem;
      }
      @include breakpoint(desktop) {
        width: 23%;
        flex: 0 0 23%;
        margin: 0 1% 4rem;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
        margin: 0 0 3rem
      }

      img {
        margin-bottom: 0.7rem; /* to separate from following spans*/
      }

      a {
        display: block;
        text-decoration: none;

        .metadatacateimage {
          width: 100%;
        }

        div {
          padding: 0.5rem 0;
        }
      }

      .categoryname {
        text-decoration: underline;
      }

      /* Lea 2017 - for category page*/
      .numberofcourse {
        font-weight: inherit;
        font-size: $font-size-base;
        color: $primary;
      }
    }
  }

}

/*only in home-page there's a need for the box-shadow*/
.block_category_list {
  @include breakpoint(tablet) {
    /* compensate on the padding of container-fluid by giving a big box shadow the same color as the title background */
    box-shadow: 10rem 0 0 0 $category-list-background, -10rem 0 0 0 $category-list-background;
  }
}

/*in courses list there needs to be a background color but the design is the same as featuredcourses:*/
.pagelayout-coursecategory .course_category_tree {
  background-color: $category-list-background;
}