/* FOOTER */
#page-footer {
  min-height: auto;
  padding: 0;
  margin-top: 7rem;
  text-align: center;
  border-top: 1.5rem solid $brand-primary;
  background-color: $gray-800;
  box-shadow: 0px -55px 0px 0px $gray-300;
  @include breakpoint(tablet) {
    text-align: right;
  }

  .row {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

  }

  a {
    color: inherit;
  }

  .footer-text-wrapper {
    color: $black;
    font-size: $font-size-root;
    text-align: center;
    background-color: $gray-600;
    padding: 2rem;
  }

  .copyright{
    margin-left: 0.5rem;
  }

  .site-rules{
    position: relative;
    margin-right: 0.5rem;
  }
  .site-rules:before{
    position: absolute;
    content: "|";
    right: -0.9rem;
  }
}
