header{
    .col-12.pt-3,
  .card-body{
    padding: 0 !important;
  }

  .card{
    background: url([[pix:theme|header_bg]]) no-repeat center/cover ;
    /*rtl:ignore*/
    padding: 0 0 5.5% 1rem;
    /*rtl:ignore*/
    border: none;
    border-radius: 0;
  }

  .logo{
    background-image: url([[pix:theme|finance]]);
    background-repeat: no-repeat;
  }

  h1,
  .logo-bank,
  .logo-ort{
    display: inline-block;
    text-indent: -99999px;
  }

  .logo-catchcache{
    background-position: 12px -55px;
    width: 148px;
    height: 64px;
    /*rtl:ignore*/
    padding: 4rem 0.5rem 0 0;
    /*rtl:ignore*/
    color: #3e3e3e;
  }

  .logo-bank{
    background-position: 0px 0px;
    width: 164px;
    height: 41px;
    /*rtl:ignore*/
    margin-right: 1rem !important;
    /*rtl:ignore*/
  }

  .logo-ort{
    background-position: 0px -130px;
    width: 131px;
    height: 68px;
    /*rtl:ignore*/
    margin-right: auto !important;
    /*rtl:ignore*/
  }

  .singlebutton{
    margin: 1rem;
  }


  // small screen
  @media screen and (max-width: $sm){
    .logos{
      flex-wrap: wrap;
    }

    .logo-ort{

    }

  }

  // large screen
  @media screen and (min-width: $md){
    .logos{
    }


  }

}