.navbar {
  max-height: $nav-bar-height-mobile;
  background-color: $white;
  padding: 1rem 0.5rem;
  @include breakpoint(mobile-tablet) {
    padding: 1rem;
    max-height: $navbar-height;
    height: auto;
  }
  @include breakpoint(desktop) {
    //max-height: $nav-bar-height;
    padding: 2rem 1rem 2rem 1rem;
  }

  .navbar-brand .logo img {
    max-height: $navbar-height;
  }

  .navbar-nav {

    .usermenu .menubar .dropdown-menu {
      span.userbutton,
      .dropdown-item {
        color: $perception-base;
        @include hover-focus {
          color: $link-color;
        }
      }
    }
  }
}


/*pop ups*/
.navbar .popover-region-container,
.navbar .popover-region .popover-region-container {
  top: 9rem;
  @include breakpoint(mobile-tablet) {
    top: 3.7rem;
  }

}


.headerlogo img {
  padding: $spacer 0;
}

#page-header {
  .page-context-header {
    margin-bottom: 2rem;
    background-color: $header-background;
    padding: 1rem;

    h1 {
      background-color: transparent;
    }
  }

  h1, h2 {
    color: $gray-800;
    background-color: $header-background;
    font-weight: bold;
    text-align: inherit;
    padding: 0;
    height: 100%;
    @include breakpoint(mobile-small) {
      height: auto;
    }
  }

  h2 {
    padding: 1rem;
  }

  a {
    text-decoration: none;
  }

  .page-header-image {
    margin-bottom: 0;
  }

  .page-context-header .header-button-group {
    display: block;
    float: none;

    a {
      color: $dark;
    }
  }
}
