body:not(.pagelayout-frontpage),
  /*not sure why body doesnt strach to the bottom. Adding the wrapper fixed it for now*/
body:not(.pagelayout-frontpage) #page-wrapper {
  background-color: $gray-150;
}

//for a strange reason when logged out the header would fall - this fix it
.pagelayout-frontpage.notloggedin #page-wrapper {
  min-height: auto;
}

#region-main{
  .buttons{
    margin-top: 3rem;
  }
}


/*Headlines*/
//in inner pages
body:not(.pagelayout-frontpage) .card-title {
  font-size: $font-size-course-title;
  font-weight: 600;
  margin-bottom: 2rem;
}

/*only featuredcourses needs padding in presentage on the right*/
body:not(.pagelayout-frontpage):not(.pagelayout-mydashboard) .block_featuredcourses .card-title,
body.pagelayout-coursecategory .block_featuredcourses .card-title {
  padding-right: 5%;
}

/*COURSE CONTROL:*/
div#coursecontrols {
  top: -48px;
  left: 0;
  border-top: 0;
  border-radius: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 2rem;
  width: auto;
  padding: 0;
}

/*editing cog in inner page should be aligned to title*/
.path-mod #region-main-settings-menu > div {
  left: -10px; /* leave a little space between this and the next element */
  top: 2rem; /* that's the height of the top margin of the element next to it */
}


/*
course that a student isn't enroll to it yet (after pressing the enroll button)
*/
.pagelayout-incourse.path-enrol {
  h2 {
    color: $brand-primary;
    font-size: $font-size-button-homepage;
    font-weight: bold;
  }

  .box {
    .coursebox {
      @include breakpoint(tablet) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
      }

      border: 0;
      @include breakpoint(tablet) {
        .courseimagewrapper {
          width: 30%;
        }
        .courseinfowrapper {
          width: 70%;
          padding-top: 0;
        }
        .tagswrapper {
          width: 100%;
        }
      }
    }
  }

  /*text before button to continue or enroll*/
  .form-control-static {
    font-weight: 600;
  }

  .form-group {
    text-align: center;
  }
}

/*Student - Updates in my course - in archive or my courses - round icon and course name*/
.course-info-container {
  .media {
    .media-body {
      @include display-inline-flex();
      @include flex-direction(column);
      @include justify-content(center);
    }
  }
}

.grade-navigation {
  .nav {
    margin-right: 0;
    margin-left: 0;
  }
}

body:not(.pagelayout-coursecategory):not(pagelayout-pagelayout-frontpage) {
  h2,
  h3 {
    font-weight: 600;
    margin-bottom: 2rem;
  }

}

/*for table borders*/
.table th, table.collection th, table.flexible th, .generaltable th, .table td, table.collection td, table.flexible td, .generaltable td {
  border-color: #ddd;
}

/* for table headers */
.generaltable thead {
  background-color: $brand-primary;

  th.header {
    background-color: transparent;
    border: 1px solid $white;

    a, & {
      color: $white;
    }
  }
}

/*
******  MY PAGE******
*/
/*for my page - teacher-student-admin*/
.pagelayout-mydashboard {

  /*top navigation - timeline & courses*/
  .nav-tabs {
    border-bottom: 0.8rem solid $brand-primary;
    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }

    .nav-item {
      .nav-link,
      &:hover {
        border-bottom-color: transparent;
      }

      .active {
        color: $navbar-light-color;
        background-color: $brand-primary;
      }
    }
  }

  .tab-content {
    .row.text-xs-center {
      @include justify-content(center);
    }
  }

  /*courses view*/
  .courses-view-course-item {
    background-color: $gray-100;
  }

  /*for features courses to trach to max 100%*/
  .card-block {
    .card-group {
      width: 100%;
      max-width: 100%;
    }
  }
}

/*for Student -> Files*/
/*may effect other pages.... (09.1.2018)*/
.pagelayout-standard {
  .generalbox {
    .row.form-group {
      @include flex-direction(column);

      .col-form-label {
        font-weight: 600;
      }
    }
  }
}

/* override height definition for select on .form-control */
select.form-control {
  &:not([size]):not([multiple]) {
    height: auto;
  }
}

a .text-info, .highlight { /* this is the question mark inside a circle */
  color: $perception-base !important;
  background-color: $white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.1; /* for horizontal alignment */
}

body.pagelayout-admin .no-overflow { /*for popups form question marks*/
  font-size: $font-size-root;
}

/*
User Profile
*/
.path-user {

  .lead, .userprofile .profile_tree section h3 {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 0.5rem; /* same margin as fordson */
  }

  .profile_tree dl {
    margin-right: 0;
  }
}

/*
Messages
*/
/* the messaging area has a fixed height and is positioned absolutely in boost.
We have to adjust the height because our fon-size is larger */
.messaging-area-container {
  .messaging-area {
    @media (max-width: 979px) {
      height: 61rem;
      @media (max-height: 670px) {
        height: 51rem;
      }
    }

    .contacts-area {
      height: 61rem;
      @media (max-height: 670px) {
        height: 51rem;
      }

      .tabs {
        height: 6rem;
      }
    }
  }
}

/* message/edit.php */
.preferences-container .preference-table .preference-row .preference-state .preference-state-status-container {
  font-size: $font-size-root;
  padding: 0 $spacer;
  width: auto;
}

/* Hide editing and deleting controls from the sharing_cart_teacher role*/
.courserole-sharing_cart_teacher .controls {
  display: none;
}

.courserole-sharing_cart_teacher .commands .dropdown-item:not(.editing_backup) {
  display: none;
}