@font-face {
  font-family: OronBlck;
  src: url([[font:theme_classic_osos|oronblck.woff]]);
}

$text-color: #595959 !default;
$light-gray: #dcdcdc !default;
$light-gray2: #f5f5f5 !default; //previous color - e7e8e9
$blue: #0b8db1 !default;
$light-blue: #88c2d0 !default;
$red: #cc3e2d !default;

$md: 768px !default;