// Bootstrap variables

$gray-100: #f5f5f5 !default;
$gray-150: #f0f0f0 !default;
$gray-200: #e9ecef !default;
$gray-300: #d8d8d8 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$gray-base: #ccc !default;
$black: #000 !default;
$white: #ffffff !default;

$blue: #1177d1 !default;
$indigo: #6610f2 !default;
$purple: #613d7c !default;
$pink: #e83e8c !default;
$red: #d9534f !default;
$orange: #ff9807 !default;
$yellow: #f7fb0f !default;
$green: #7fd80a !default;
$teal: #60e8b5 !default;
$cyan: #5bc0de !default;

$primary: #4b4a4a !default;
$secondary: $gray-300 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: #c33e3e !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Options
$enable-rounded: false !default;

// Navbar
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-light-hover-color: rgba($black, 0.9) !default;

$navbar-fhs-color: $dark !default;
$navbar-fhs-active-color: $dark !default;
$navbar-fhs-hover-color: darken($navbar-fhs-color, 10%) !default;
$navbar-fhs-disabled-color: $dark !default;

$topnavbarbg: rgba($white, 0.95) !default;
$teachernavbarcolor: #f7e671 !default;
$studentnavbarcolor: $topnavbarbg !default;

// Body
$body-color: $gray-800 !default;
$body-bg: $gray-200 !default;
$drawer-bg: $gray-200 !default;
$card-bg: $white !default;
$footer-bg: $gray-100 !default;
$footer-link-color: $gray-800;


$perception-base: #5e3da1 !default;


$sectionnamehighlight: $teal;
$border-radius: 4px !default;
$activityhover: darken($card-bg, 7%) !default;
$headerbackgroundcolor: rgba($gray-900, 0.3) !default;
$dpsaccentcolor: #ff5f3a !default;

$card-title-background-color: $perception-base;

$font-family-sans-serif: 'Assistant', Arial, sans-serif;

// Fonts
$font-size-base: 1.2rem !default;
$headings-font-weight: 300 !default;
$perceptionfontsize: 1.1rem !default;
$font-size-button-homepage: 3rem;
$font-size-middle: 1.8rem;
$font-size-title: 2rem;
$font-size-h1: 1.875rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.25rem;
$perceptionfontsize: 1.25rem !default;
$font-size-course-title: 2rem;
$footer-font-size-h3: 2.5rem;

$line-height-small: 1.2;
$line-height-big: 2.2;

// Breadcrumbs
$breadcrumb-padding-y: 0.25rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: 0.5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

$breadcrumb-bg: $perception-base !default;
$breadcrumbdash: $gray-200 !default;
$breadcrumbdimmed: $gray-600 !default;

// Progress bars
$progress-bg: $gray-300 !default;
$progress-bar-bg: $perception-base !default;

// List group
$list-group-bg: $white !default;
$list-group-border-color: $gray-200 !default;
$list-group-hover-bg: $gray-300 !default;

$list-group-active-color: $black !default;
$list-group-active-bg: $perception-base !default;

$list-group-action-color: $black !default;
$list-group-action-hover-color: $list-group-action-color !default;

$list-group-action-active-color: $black !default;
$list-group-action-active-bg: $list-group-hover-bg !default;

$list-group-disabled-color: lighten($list-group-bg, 30%) !default;
$list-group-disabled-bg: $list-group-bg !default;

// Tabs
$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: lighten($perception-base, 5%) !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

// Dropdowns
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, 0.15) !default;
$dropdown-divider-bg: $gray-200 !default;
$dropdown-box-shadow: 0 0.5rem 1rem rgba($black, 0.175) !default;

$dropdown-link-color: $gray-900 !default;
$dropdown-link-hover-color: darken($gray-900, 5%) !default;
$dropdown-link-hover-bg: $gray-200 !default;

$dropdown-link-active-color: $white !default;
$dropdown-link-active-bg: $gray-400 !default;

// Alerts
$alert-border-width: 0 !default;

$input-background: $gray-100 !default;
$course-about-bg: $gray-100;
$button-edit-bg: $orange;
$header-background: rgba(249, 249, 249, .7);

$theme-colors: (primary: $primary,
        secondary: $secondary,
        success: $success,
        info: $info,
        warning: $orange,
        danger: $danger,
        light: $gray-100,
        dark: $gray-800);

// Override Boost
$navbar-height: 6rem !default;
$link-color: $perception-base;

.col-xs {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%
}

.col-xs-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%
}

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%
}

.col-xs-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%
}

.col-xs-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%
}

// Import FontAwesome.
@import "../../boost/scss/fontawesome";

// Import All of Bootstrap
@import "../../boost/scss/bootstrap";

// Import Core moodle CSS
@import "../../boost/scss/moodle";
